body {
    font-family: sans-serif,sans-serif; 
    font-size: 11px; 
    font-weight: bold;
    background-color: #697cc1; 
    color: #04ff00; 
}

h1 {
    color: #04ff00; 
    font-size: 24px; 
    font-family: sans-serif,serif; 
    font-weight: bold; 
}
img {
    border-radius: 16px;
}


@keyframes color-change {
    0% {
      color: blue;
    }
  
    50% {
      color: red;
    }
  
    100% {
      color: blue;
    }
}

h1 {
    animation: color-change 3s infinite;
}